:root {
    --Grey: #303030;
    --Blue: #008cff;
    --Blue2: #003f72;
  }

* {
    color: var(--Blue);
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Isso ajuda a incluir padding e bordas no cálculo de largura/altura */
}

body {
    background-image: url('/public/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    min-height: 100vh;
 }
 
 