* {
    color: #008cff;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Isso ajuda a incluir padding e bordas no cálculo de largura/altura */
}

body {
    background-image: url('/public/fundo3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    min-height: 100vh;
 }
 
 