* {
    color: #008cff;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/public/fundo3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}